@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alan Sans', Arial, Sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(98, 184, 77);
    height: 100vh;
}

#overlay {
    display: none;
    position: fixed; /* Fica fixo na tela, mesmo com scroll */
    top: 0;
    left: 0;
    width: 100%;     /* Ocupa toda a largura */
    height: 100%;    /* Ocupa toda a altura */
    background-color: rgba(0, 0, 0, 0.7); /* Preto com 70% de opacidade */
    z-index: 100;    /* Garante que fique acima do <main>, mas abaixo do modal */
}

main {
    width: 370px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 1.2rem;
    border-radius: 20px;
    padding: 20px;
    border: 5px solid black;
    /* height: 70vh; */
    
}


div#reiniciar, div#finalizar {
    display: flex;
    height: 35px;
    cursor: pointer;

}


img#img-reinicio, img#img-finalizar{
    width: 35px;
    
}

section#cabecalho-main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
      
} 


section.jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;    
}

div.cabecalho-jogador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

div.edit-jogador{
    cursor: pointer; 
}

img#lapis-1, img#lapis-2{
    width: 25px;
    height: 25px;
    display: block;
}

div.divisor-jogadores {
    margin: 0px -20px 0px -20px;
    background-color: black;
    height: 5px;
}

div.placar {
    width: 70%;
    /* height: 200px; */
    /* background-color: rgb(48, 48, 48); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.placar > h2 {
    font-size: 100px;
    /* color: white; */
}

div.agrupa-containers-btn {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

div.container-botoes-bolinhas {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

div.seq-bolinhas {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-weight: bolder;
}

div.resumo, div.edicao-de-nomes {
    /* height: 120px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 10px 10px;
    position: relative;
    z-index: 101;
    background-color: lightgray;
    border-radius: 20px;
    top: -50%;
    gap: 5px;
}


div#edicao-nome > input{
    width: 80%;
    height: 30px;
    font-size: 1.2rem;
}

div#edicao-nome > input:focus {
    outline: none;
    border-color: rgb(98, 184, 77);
}

button.continuar:hover {
    background-color: rgb(8, 184, 8);
    color: white;
}

button.cancelar:hover {
    background-color: red;
    color: white;
}

div.resumo > p {
    margin: 0px 10px;
}

div.container-fechar-resumo {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10px;
}

button.botao-overlay {
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
}

div.cor-vermelha{
    background-color: rgba(216, 17, 17, 0.815);
}

div.cor-amarela{
    background-color: rgb(248, 244, 24);
    color: black;
}

div.cor-verde{
    background-color: rgb(4, 102, 9);
}

div.cor-marrom{
    background-color: rgb(92, 58, 13);
}

div.cor-azul{
    background-color: rgb(20, 2, 121);
}

div.cor-rosa{
    background-color: rgb(182, 57, 155);
}

div.cor-preta{
    background-color: rgb(0, 0, 0);
}

@media (orientation: landscape) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(98, 184, 77);
        width: 100%; /*900px; */
        height: 100vh;
    }
    main{
        width: 735px;
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 50px auto;
        border: 5px solid black;
        height: 400px;
        Column-gap: 0.5rem;
        row-gap: 0rem;
        padding: 10px;
    }
    section.jogador {
        border: 5px solid black;
        border-radius: 20px;
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }

    div.placar {
        height: 80px
    }

    section#cabecalho-main {
        grid-column: span 2;
        height: 40px;
        border-bottom: 5px solid black;
        margin: 0px -10px;
    }
    
    div#divisor-1 {
        display: none;
        grid-column: span 2;
        grid-row: 2;
        margin: 0px -10px;
    }

    section#jogador-1 {
        grid-column: 1;
        grid-row: 2;
    }

    div#divisor-2 {
        display: none;
        /* grid-column: 2;
        grid-row: 3;
        transform: rotate(90deg);
        margin: auto 0; */
    }

    section#jogador-2 {
        grid-column: 2;
        grid-row: 2;
        height: 100%;
    }  

    div.resumo, div.edicao-de-nomes {
    top: -25%;
}

}